.p-subpage {
  &-header {
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 80%;
      background: $main-color;
      position: absolute;
      left: 0;
      z-index: -1;
    }
    &-ttl {
      display: flex;
      flex-flow: column;
      padding: 85px 6%;
      z-index: 1;
      font-weight: 900;
      color: #fff;
      // letter-spacing: 0.3em;

      @media screen and (max-width: 767px) {
        padding: 40px 20px;
      }

      &-en {
        font-family: $en-font;
        font-size: 6rem;
        line-height: 1.5;
        letter-spacing: 0.15em;

        @media screen and (max-width: 767px) {
          font-size: 4rem;
        }
      }
    }
    &-bg {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: calc(100% - 170px);
      background: no-repeat center;
      background-size: cover;
      z-index: -1;

      @media screen and (max-width: 767px) {
        width: calc(100% - 50px);
      }
    }
  }
}

//ヘッドライン画像位置調整
.page-template-page-about .p-subpage-header-bg{
	background-position-y: 40%;
}
.page-template-page-facility .p-subpage-header-bg{
	background-position-y: 43%;
}
.page-template-page-program .p-subpage-header-bg{
	background-position-y: 57%;
}
.page-template-page-faq .p-subpage-header-bg{
	background-position-y: 31%;
}
.page-template-page-recruit .p-subpage-header-bg{
	background-position-y: 48%;
}
.page-template-page-blog .p-subpage-header-bg{
	background-position-y: 51%;
}
.error404 .p-subpage-header-bg{
	background-position-y: 25%;
}

.p-about {
  &-info {
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 40px;

    @media screen and (max-width: 767px) {
      padding: 60px 20px;
    }

    &-row {
      display: flex;
      padding: 30px 60px;

      @media screen and (max-width: 767px) {
        flex-flow: column;
        padding: 20px 0;
      }

      &:not(:last-child) {
        border-bottom: $list-border;
      }
    }

    &-dt {
      min-width: 200px;
      font-weight: bold;
    }
  }
}

.p-recruit {
  &-message {
    padding: 80px 40px 40px;

    @media screen and (max-width: 767px) {
      padding: 60px 20px 30px;
    }
    &-wrap {
      background: url(../../img/noimage.png) no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      color: #fff;
      padding: 60px;

      @media screen and (max-width: 767px) {
        padding: 5% 4%;
      }

      &::before {
        content: "";
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
      }
    }

    &-inner {
      border: 4px solid #fff;
      padding: 10% 6%;
    }

    &-ttl {
      font-size: 2.5rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 40px;
    }

    &-txt {
      line-height: 2;
    }
  }

  &-info {
    &-article {
      max-width: 900px;
      margin: 0 auto;
      padding: 80px 40px;

      @media screen and (max-width: 767px) {
        padding: 30px 20px 60px;
      }
    }

    &-row {
      display: flex;
      padding: 30px 60px;

      @media screen and (max-width: 767px) {
        flex-flow: column;
        padding: 20px 0;
      }

      &:not(:last-child) {
        border-bottom: $list-border;
      }
    }

    &-dt {
      min-width: 200px;
      font-weight: bold;
    }

    &-ttl {
      font-size: 2.5rem;
      text-align: center;
      font-weight: bold;
      margin-bottom: 40px;

      @media screen and (max-width: 767px) {
        margin-bottom: 10px;
      }
    }
  }
}

.p-facility {
  &-ttl {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.1em;
    text-align: center;
    color: $thd-color;

    @media screen and (max-width: 767px) {
      font-size: 28px;
    }
  }

  &-item {
    position: relative;
    margin-top: 2%;

    &:last-child {
      margin-bottom: 90px;

      @media screen and (max-width: 767px) {
        margin-bottom: 10%;
      }
    }
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: $thin-color;
      position: absolute;
      left: 0;
      top: 33px;
      z-index: -1;
    }
  }

  &-img {
    &-wrap {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 12px 5%;

      @media screen and (max-width: 767px) {
        padding: 10px 10px 0px;
      }
    }
    &-item {
      width: 33%;
      padding: 10px;

      @media screen and (max-width: 1024px) {
        width: 50%;
      }

      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
  }
  &-figure {
    overflow: hidden;
    width: 100%;
    padding: 71% 0 0;
    position: relative;

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }
}
.p-facility-item + .p-facility-item {
  margin-top: 60px;
}

.p-program {
  &-list {
    padding: 160px 0 80px;

    @media screen and (max-width: 767px) {
      padding: 60px 20px;
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $thin-color;
    padding: 30px 0;
    height: 600px;

    @media screen and (max-width: 767px) {
      flex-flow: column;
      padding: 6%;
      height: auto;
    }

    &:not(:last-child) {
      margin-bottom: 160px;

      @media screen and (max-width: 767px) {
        margin-bottom: 10%;
      }
    }
    @media screen and (min-width: 768px) {
      &:nth-child(odd) {
        padding-left: 5%;

        .p-facility-item-img,
        .p-program-item-img {
          margin-left: 60px;
        }
      }
      &:nth-child(even) {
        padding-right: 6%;
        flex-flow: row-reverse;

        .p-facility-item-img,
        .p-program-item-img {
          margin-right: 60px;
        }
      }
    }
    &-img {
      width: calc(75% - 60px);
      height: 620px;
      margin-top: -170px;

      @media screen and (max-width: 767px) {
        margin: 0;
        width: 100%;
        height: auto;
        order: -1;
        margin-bottom: 6%;
      }

      img {
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: 100%;
      }
    }
    &-data {
      width: 25%;
      min-width: 320px;
      max-width: 380px;

      @media screen and (max-width: 767px) {
        width: 100%;
        min-width: unset;
        max-width: unset;
      }

      &-head {
        font-size: 2.5rem;
        margin-bottom: 50px;
        font-weight: bold;

        @media screen and (max-width: 767px) {
          font-size: 2rem;
          margin-bottom: 20px;
        }
      }
      &-list {
        display: flex;
        border-bottom: $list-border;
        padding: 20px;

        @media screen and (max-width: 767px) {
          padding: 15px 0;
          font-size: 1.4rem;
          flex-flow: column;
        }
        &-dt {
          min-width: 150px;
          max-width: 50%;
          margin-right: 20px;

          @media screen and (max-width: 767px) {
            font-weight: bold;
            max-width: 100%;
            margin-right: 0;
          }
        }

        &:first-of-type {
          border-top: $list-border;
        }
      }
    }
  }
  &-btn {
    margin-top: 60px;

    @media screen and (max-width: 767px) {
      margin-top: 30px;
      display: flex;
    }
  }
}

.p-post {
  &-meta {
    font-size: 1.3rem;
    display: flex;
    margin-bottom: 20px;

    &-cat {
      margin-left: 10px;
      background: $sub-color;
      color: #fff;
      padding: 5px 10px;
			font-size: 1.3rem;
			transition: .3s;

			&:hover{
				opacity: .7;
			}

      a {
        color: #fff;
      }
    }
    &-date {
      font-family: $en-font;
    }
  }
  &-ttl {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
      font-size: 2rem;
    }
  }
  &-eyecatch {
    margin-bottom: 20px;

    &-img {
      width: 100%;
      height: auto;
    }
  }
  &-content {
    font-size: 1.6rem;
  }
}

.p-404 {
  padding: 100px 6%;
  text-align: center;

  &-ttl {
    font-size: 4rem;
  }
  &-txt {
    margin: 40px 0 50px;
  }
}

.p-contact {
  &-article {
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 40px;

    @media screen and (max-width: 767px) {
      padding: 60px 20px;
    }
  }
}

.p-faq {
  background: $thin-color;

  &-inner {
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 40px 100px;

    @media screen and (max-width: 767px) {
      padding: 20px 20px 60px;
    }
  }
  &-item {
    border-bottom: 1px solid $sub-color;

    &-question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 25px 30px;

      @media screen and (max-width: 767px) {
        padding: 15px 0;
      }

      &-ttl {
        font-weight: bold;
        padding-right: 5px;
        font-size: 1.4rem;
      }
    }
    &-answer {
      display: none;
      padding: 0px 30px 25px;
      font-size: 1.4rem;
      color: $main-color;

      @media screen and (max-width: 767px) {
        padding: 0px 0 15px;
      }
    }
  }
  .fa-angle-down {
    transition: 0.3s;
  }
  .rotate-fa-angle {
    transform: rotateX(180deg);
  }
}
